.subscribe {
    background-color: #fff;
    text-align: center;
    padding: 111px 0 109px 0;

    &_input {
        padding: 28px 0 24px 28px;
        width: 100%;
        height: 60px;
        border: 1px solid #d3d7d9;
        background-color: #ffffff;
        font-size: 20px;

        &::placeholder {
            color: #929292;
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__body {
        margin: 0 auto;
        max-width: 534px;
    }

    @media (max-width: 750px) {
        padding: 60px 0 60px 0;
    }

    &__logo {}

    &__title {
        color: #848789;
        font-family: "Lato", sans-serif;
        font-size: 24px;
        line-height: 34px;
        margin-top: 39px;
    }

    &__enter {
        margin-top: 35px;
        display: flex;
        flex-direction: row;

    }

    &__button {
        width: 126px;
        height: 60px;
        background-color: #64c29e;
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 24px;
        text-transform: uppercase;
    }

    @media (max-width: 750px) {
        &__enter {
            flex-direction: column;
        }

        &__button {
            width: 100%;
        }
    }
}